<h1>List View</h1>

<ng-container *ngIf="pagedCharacters">
  <div class="row">
    <div class="col-sm-6">
      <sw-search (searchBarEvent)="onSearchChange($event)"></sw-search>
    </div>
    <div class="col-sm-6 text-sm-right">
      <a routerLink='/add-new-character' class="btn btn-primary mb-3">Add New</a>
    </div>
  </div>

  <ng-container *ngIf="searchMode; else DEFAULT_MODE">
    <ng-container *ngIf="pagedCharacters.characters.length > 0; else NO_SEARCH_RESULTS">
      <sw-table [characters]="pagedCharacters.characters" (removeCharacter)="removeCharacter($event)"></sw-table>
    </ng-container>

    <ng-template #NO_SEARCH_RESULTS>
      <div class="alert alert-primary" role="alert">
        No Results Found
      </div>
    </ng-template>
  </ng-container>

  <ng-template #DEFAULT_MODE>
    <ng-container *ngIf="pagedCharacters.characters.length > 0; else NO_DATA">
      <sw-table [characters]="pagedCharacters.characters" (removeCharacter)="removeCharacter($event)"></sw-table>
      <sw-paginator [chars]="pagedCharacters" (changePageEvent)="onChangePage($event)"></sw-paginator>
    </ng-container>

    <ng-template #NO_DATA>
      <div class="alert alert-primary" role="alert">
        No characters in database. To create some we need.
      </div>
    </ng-template>
  </ng-template>
</ng-container>