<form *ngIf="form" [formGroup]="form">
  <div *ngIf="characterUpdated" class="alert alert-success" role="alert">
    Succesfully updated character!
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="nameInput">
          <span class="text-primary">&#42;</span>
          Name
        </label>
        <input swInputInvalid formControlName="name" type="text" class="form-control" id="nameInput" placeholder="Name">
        <sw-validation-messages formControlName="name"></sw-validation-messages>
      </div>
      <div class="form-group">
        <label for="speciesSelect">
          <span class="text-primary">&#42;</span>
          Species
        </label>
        <select swInputInvalid formControlName="species" class="form-control" id="speciesSelect">
          <option [value]="''">Select option</option>
          <option *ngFor="let s of species" [value]="s">{{ s }}</option>
        </select>
        <sw-validation-messages formControlName="species"></sw-validation-messages>
      </div>
      <label for="speciesSelect">
        <span class="text-primary">&#42;</span>
        Gender
      </label>
      <div *ngFor="let g of genders" class="form-check">
        <input swInputInvalid class="form-check-input" formControlName="gender" type="radio" name="gender" [id]="'radio' + g.key" [value]="g.key">
        <label class="form-check-label" [for]="'radio' + g.key">
          {{ g.value }}
        </label>
      </div>
      <sw-validation-messages formControlName="gender"></sw-validation-messages>
      <div class="form-group">
        <label for="homeworldInput">Home World</label>
        <input swInputInvalid type="text" formControlName="homeworld" class="form-control" id="homeworldInput" placeholder="Home World">
        <sw-validation-messages formControlName="homeworld"></sw-validation-messages>
      </div>
    </div>
  </div>
  <div class="row">
    <button *ngIf="characterId; else ADD_CHAR" class="btn btn-primary" type="submit" (click)="submit()">Change Character</button>
    <ng-template #ADD_CHAR>
      <button class="btn btn-primary" type="submit" (click)="submit()">Add Character</button>
    </ng-template>
  </div>
</form>