<nav aria-label="Data grid navigation">
  <ul class="pagination justify-content-end">
    <li class="page-item" [ngClass]="{ 'disabled': isCurrent(chars.first) }">
      <a (click)="changePage(chars.first)" class="page-link" aria-label="First">
        <span aria-hidden="true">&laquo;</span>
        First
      </a>
    </li>
    <ng-container *ngIf="chars.prev">
      <li class="page-item" (click)="changePage(chars.prev)" [ngClass]="{ 'disabled': isCurrent(chars.prev) }">
        <a class="page-link">{{ getPageNum(chars.prev) }}</a>
      </li>
    </ng-container>
    <li class="page-item active">
      <a class="page-link">
        {{ getPageNum(chars.current) }}
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <ng-container *ngIf="chars.next">
      <li class="page-item" (click)="changePage(chars.next)" [ngClass]="{ 'disabled': isCurrent(chars.next) }">
        <a class="page-link">{{ getPageNum(chars.next) }}</a>
      </li>
    </ng-container>
    <li class="page-item" [ngClass]="{ 'disabled': isCurrent(chars.last) }">
      <a (click)="changePage(chars.last)" class="page-link" aria-label="Last">
        Last
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>