<div class="input-group mb-3">
  <label for="searchInput" class="sr-only">Search</label>
  <input #searchInput type="text" class="form-control" id="searchInput" placeholder="Search...">
  <div class="input-group-append">
    <button (click)="clearInput()" class="btn btn-outline-secondary" type="button">&times;</button>
  </div>
</div>