<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Species</th>
      <th scope="col">Gender</th>
      <th scope="col">Homeworld</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let char of characters">
      <th scope="row">{{ char.id }}</th>
      <td>{{ char.name }}</td>
      <td>{{ char.species }}</td>
      <td>{{ char.gender }}</td>
      <td>{{ char.homeworld }}</td>
      <td>
        <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
          <button [routerLink]="['/edit-character', char.id]" type="button" class="btn btn-secondary">
            <i class="fa fa-pencil" aria-hidden="true"></i> Edit
          </button>
          <button (click)="remove(char)" type="button" class="btn btn-danger">
            <i class="fa fa-trash-o" aria-hidden="true"></i> Remove
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>