<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
  <a class="navbar-brand" routerLink="">Sonalake Task</a>
  <button class="navbar-toggler" type="button"
    (click)="isOpen = !isOpen"
    [class.collapsed]="!isOpen"
    [attr.aria-expanded]="isOpen"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="isOpen">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/character-list">List View
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/add-new-character">Add New Character
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
